In [ ]:
import pandas as pd

fp=pd.read_parquet('footprint.pq')
pd.set_option('display.max_rows', 300)
fp['delta'] = abs(fp['aggBuy']-fp['aggSell'])

t=fp.loc[fp.index.get_level_values('Time')>'2025-04-03 04:00:00']
res = t.loc[t.index.get_level_values('Time').minute==26]
res

                           aggBuy  aggSell  delta
Time                Price
2025-04-03 04:26:00 21606      58        0     58
                    21605     106        0    106
                    21604      16       14      2
                    21603       6        1      5
                    21602       3        8      5
                    21601       6        0      6
                    21600       8        0      8
                    21598       3        0      3
                    21597       1        2      1
                    21596       3        1      2
                    21595       1        3      2
                    21594       5        1      4
                    21593       4        0      4
                    21592       1        0      1
                    21591       3        2      1
                    21590       2        0      2
                    21589       8        2      6
                    21588       2        0      2
                    21587      11        5      6
                    21586       2        1      1
                    21585       2        1      1
                    21584       2        6      4
                    21583       3        6      3
                    21582       2        3      1
                    21581       2        4      2
                    21580       0        6      6
                    21579       2        2      0
                    21578       2        6      4
                    21577       6        1      5
                    21576       3        4      1
                    21575       3        2      1
                    21574       0        2      2
                    21573       5        5      0
                    21572       5        5      0
                    21571       3        4      1
                    21570       0        4      4
                    21569       0        5      5
                    21568       0        2      2
                    21567       1        1      0
                    21566       0        3      3
                    21565       1        0      1
                    21564       1        5      4
                    21563       0        3      3
                    21562       1        2      1
                    21560       4        2      2
                    21559       2        0      2
                    21558       7        4      3
                    21557       1        6      5
                    21556       0        7      7
                    21555       8        6      2
                    21554       3        0      3
                    21553       1        5      4
                    21552       1        5      4
                    21551       1        3      2
                    21550       0       26     26
                    21549       0        2      2
                    21548       0        4      4
                    21547       0        5      5
                    21546       5        5      0
                    21545       1        2      1
                    21544       0        1      1
                    21543       0        1      1
                    21542       4        3      1
                    21541       6        3      3
                    21540       0        3      3
                    21539       6        0      6
                    21538       5        1      4
                    21537       2        2      0
                    21536       1        2      1
                    21535       0        4      4
                    21534       1        0      1
                    21533       0        2      2